<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="ForsendelsesServiceV4SoapBinding">
                  <mtomMessageEncoding maxReadPoolSize="211" maxWritePoolSize="2132" messageVersion="Soap12" writeEncoding="utf-8"/>
                  <httpsTransport manualAddressing="false" maxBufferPoolSize="524288"
                        maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Basic"
                        bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
                        keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
                        realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
                        useDefaultWebProxy="true" requireClientCertificate="false" />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://test.svarut.ks.no/tjenester/forsendelseservice/ForsendelsesServiceV4"
                binding="customBinding" bindingConfiguration="ForsendelsesServiceV4SoapBinding"
                contract="ForsendelsesService.ForsendelsesServiceV4" name="ForsendelsesServiceV4" />
        </client>
    </system.serviceModel>
</configuration>